<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314149998705-lcsbv2hm1aqkuq9alv3jmp2rpj6qmaih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314149998705-lcsbv2hm1aqkuq9alv3jmp2rpj6qmaih</string>
	<key>API_KEY</key>
	<string>AIzaSyBh07vBOfvSVVU8OkoGk9-56wqEjq7NLDs</string>
	<key>GCM_SENDER_ID</key>
	<string>314149998705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danesh.APlusPapers.IB</string>
	<key>PROJECT_ID</key>
	<string>apluspapers-ib</string>
	<key>STORAGE_BUCKET</key>
	<string>apluspapers-ib.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:314149998705:ios:6abbc54d38da9b478c4bd0</string>
	<key>DATABASE_URL</key>
	<string>https://apluspapers-ib.firebaseio.com</string>
</dict>
</plist>
